html {
  font-size: 1vw;
  font-family: 'Google Sans', sans-serif;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
}

.btn {
  border-width: .12rem;
  border-style: solid;
  border-radius: 6rem;
  color: #ffffff;
  margin: 0;
  padding: .9rem 1.7rem;
  text-transform: uppercase;
  font-size: .72rem;
  position: relative;
  cursor: pointer;

  @media screen and (max-width:$tablet-width) {
    border-width: .2rem;
    border-radius: 6rem;
    padding: 1.2rem 2.4rem;
    font-size: 1.72rem;
  }
}

.btn-large {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.white-font-color {
  color: $main-color2;
}

.black-font-color {
  color: #333333;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333333;
  margin-bottom: 1.7rem;

  @media screen and (max-width:$tablet-width) {
    font-size: 4.2rem;
  }

  &:after {
    display: block;
    content: '';
    background: $main-color;
    border: 0.08rem solid $main-color;
    width: 5.4rem;
    margin-top: .5rem;

    @media screen and (max-width:$tablet-width) {
      width: 12.4rem;
      border: .2rem solid #EF3A53;
    }
  }
}

.info-container {
  width: 60rem;
  height: 100%;
  margin-top: 4rem;

  @media screen and (max-width:$tablet-width) {
    width: 90rem;
  }
}




.red {
  color: #EF3851;
}

.white {
  color: #ffffff;
}

.upper {
  text-transform: uppercase;
}

.font-bold {
  font-weight: bold;
}





.text {
  font-size: 0.8rem;
  line-height: 1.3rem;
  color: #333333;
}

.main_color {
  color: $main-color;
}