@mixin position-absolute($top, $left: null, $right: null, $bottom: null) {
  position: absolute;

  @if($top) {
    top: $top;
  }

  @if($left) {
    left: $left;
  }

  @if($right) {
    right: $right;
  }

  @if($bottom) {
    bottom: $bottom;
  }
}

@mixin transition($elements, $time, $function) {
  transition-property: $elements;
  transition-duration: $time;
  transition-timing-function: $function;
}