@mixin greeting-mobile-captions() {
  font-size: 5.9rem;
  top: 22rem;
}

@mixin position-absolute($top, $left: null, $right: null, $bottom: null) {
  position: absolute;

  @if($top) {
    top: $top;
  }

  @if($left) {
    left: $left;
  }

  @if($right) {
    right: $right;
  }

  @if($bottom) {
    bottom: $bottom;
  }
}