.slider-content {
  @include flex-width-100;
  align-items: center;
  height: 21rem;

  @media screen and (max-width:$tablet-width) {
    height: 53rem;
  }

  > div {
    flex-grow: 1;
    width: 100%;
  }

  .to-left {
    width: 2.3rem;

    a {
      font-size: 0;
      position: relative;

      &:after {
        @include position-absolute(0, 0);
        display: block;
        content: '';
        width: 1rem;
        height: 0.5rem;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAKCAYAAAC0VX7mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABsSURBVHgB1ZJBEYAwDASPGmBwQyujVEgdUBTghEEGboKChkl/hV8KD1bATu5ywA2yIZLzM5SYSuZCQscrMtoRGbmJadRf94msk85KTOAEeEcj5o26HkjUElme8g+p9RFKqh0Ox7YgcwKjh5ILLKQ1QOVAb/0AAAAASUVORK5CYII=') no-repeat;
        background-size: cover;

        @media screen and (max-width:$tablet-width) {
          height: 1.5rem;
          left: 0;
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAMAAAAbzM5ZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMZQTFRF////UVFRUlJS/Pz8/v7+sbGxjIyMaWlplJSU+/v7srKyn5+fkpKSpKSkr6+vjo6OnZ2di4uLhYWFlZWVYmJi+fn52traqKio+vr6qqqqs7Ozubm5kZGRiYmJk5OTtLS0bW1tm5ubampqa2trrq6u9vb2pqamfn5+ZGRkj4+Pu7u7urq6mpqa9/f3vLy8tbW1p6en3t7esLCwh4eHqamp7OzsiIiI7e3tlpaWZmZmoaGhU1NTYWFhnJyct7e3hoaGhISExMTEYkOHcAAAALdJREFUeNps0lUSwkAQBNDdKJAAgeDu7u5y/0sRZHo3JP35qmaqRhiTU28PrCjzx+JeHn51+CfOUrKr8sVMXNiE/2J2YAeFUN+SRWALIs0m4nlYBbaBDVFbhKVgCTK1itoYbB00doKVxCAm2UiauEX4lLBJqMwEZtPQcZjystDCHXoTqu6gc0kNqC5pMji+p2IpK6GaQXrW94LRoSH1ZXbIiXE8N+d7Efet/e7fM/WOl9qUsZcAAwBZQApWNaFoqwAAAABJRU5ErkJggg==');
        }
      }
    }
  }

  .to-right {
    @extend .to-left;
    text-align: right;

    a {
      &:after {
        right: 0;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAKCAYAAAC0VX7mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABuSURBVHgBvZJBDYAwDEV/CQLADZkKMhACCsACCnCAD9QMA6yUcCFkpzbsJe2hh5f8toCS4Pr5ru+8gJLIOACeUlI1ofEi7PhXKQXnV5ihVloF5lG9wySRGFaea0tkiQ4rWWQl1MgnnjTU+7a8pxc9AjcI3FK2yQAAAABJRU5ErkJggg==');

        @media screen and (max-width:$tablet-width) {
          right: 0;
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAMAAAAbzM5ZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMZQTFRF////UVFRUlJS/Pz8/v7+sbGxjIyMaWlplJSU+/v7srKyn5+fkpKSpKSkr6+vjo6OnZ2di4uLhYWFlZWVYmJi+fn52traqKio+vr6qqqqs7Ozubm5kZGRiYmJk5OTtLS0bW1tm5ubampqa2trrq6u9vb2pqamfn5+ZGRkj4+Pu7u7urq6mpqa9/f3vLy8tbW1p6en3t7esLCwh4eHqamp7OzsiIiI7e3tlpaWZmZmoaGhU1NTYWFhnJyct7e3hoaGhISExMTEYkOHcAAAALhJREFUeNps0ucWgjAMBeAWRERQUdx77733eP+XcuYShPvzO21OmlQIYZj9Vk14Y9zlK6bHFrb8xOYYS39RuTBs6/KXsYsbjVDZs7NzaIRpjlRaIVfX0DLTAioMmMahSaZRVKioQbpiWoQeWWdDQp3hg7Dp2lQhbMBGsFSGrCT9doXd8mQz2BZNYqQyrPofnoAt3WGQ7bQTWRgD0uq4G7Bii7046/iXJkSn9zbn7zNNqudD1yNPAQYAfakKVuwPg64AAAAASUVORK5CYII=');
        }
      }
    }
  }

  .slider-container {
    border: 0.05rem solid #eeeeee;
    border-radius: 0.3rem;
    box-sizing: border-box;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
    background: #ffffff;
    height: 100%;
  }
}

.slider-bullets {
  padding: 1rem;
  text-align: center;

  a {
    display: inline-block;
    width: 0.25rem;
    height: 0.25rem;
    border: 0.1rem solid $main-color;
    border-radius: .25rem;
    margin: 0 0.3rem;
  }
}

.slider-bullet-fill {
  background: $main-color;
}