// Основной цвет выделения для шрифтов
$main-color: #ef3851;

// Ширина экрана при которой происходит перестроение расположения элементов
$tablet-width: 768px;

// Путь к изображениям
$path-to-img: '../img/';

// Путь к шрифтам
$path-to-fonts: '../fonts/';