// Основной цвет выделения для шрифтов
$main-color: #ef3851;

// Дополнительный цвет выделения для шрифтов
$main-color2: #fff;

// Ширина экрана при которой происходит перестроение расположения элементов
$tablet-width: 768px;

// Путь к изображениям
$path-to-img: '../img/';

// Путь к шрифтам
$path-to-fonts: '../fonts/';

// Фоновый цвет для модуля 5 и 7
$module-5-and-7-background: rgba(37, 37, 37, 0.57);