@font-face {
  font-family: 'Google Sans';
  src: url('../fonts/GoogleSans-Regular.ttf');
}

@font-face {
  font-family: 'Google Sans';
  src: url('../fonts/GoogleSans-Bold.ttf');
  font-weight: bold;
}

html {
  font-size: 1vw;
  font-family: 'Google Sans', sans-serif;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Global */
.btn {
  border-width: .12rem;
  border-style: solid;
  border-radius: 6rem;
  color: #ffffff;
  margin: 0;
  padding: .9rem 1.7rem;
  text-transform: uppercase;
  font-size: .72rem;
  position: relative;
  cursor: pointer;
}

.btn-black {
  background: #292929;
  border-color: #292929;
  transition: .5s linear;
}

.btn-black:hover {
  background: #EF3851;
  border-color: #EF3851;
}

.btn-red {
  background: #EF3851;
  border-color: #EF3851;
}

.btn-transparent {
  border-color: #ffffff;
  transition: .5s linear;
}

.btn-transparent:hover {
  background: #ffffff;
  color:#333333;
}

.btn-width-xl {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.bullet {
  padding-right: 2.8rem;
}

.bullet:after {
  position: absolute;
  top: .06rem;
  right: 1.6rem;
  display: block;
  content: '‣';
  font-size: 2.1rem;
}

.red {
  color: #EF3851;
}

.white {
  color: #ffffff;
}

.black {
  color: #333333;
}

.upper {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.8rem;
  color: #333333;
  margin-bottom: 1.7rem;
}

h2:after {
  display: block;
  content: '';
  background: #EF3A53;
  border: .08rem solid #EF3A53;
  width: 5.4rem;
  margin-top: .5rem;
}

.text {
  font-size: 0.8rem;
  line-height: 1.3rem;
  color: #333333;
}

.more {
  display: block;
  color: #333333;
  width: 6.5rem;
  position: relative;
  margin-top: .6rem;
}

.more:after {
  display: block;
  position: absolute;
  content: '';
  top: .4rem;
  right: 0rem;
  width: 1.6rem;
  height: .5rem;
  background-size: cover;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAKCAYAAABMtYURAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABvSURBVHgBzZNRDYAwDESvBAHghkwFGQgBBWABBTjAB2qGAVZK+CHLvi97SfvRn7tcW4BAcOP6VjqvQCAqLkCXnAEKofMmPmgxBiQ4v4OK9NYaqM6UnWeJomDyXb3FbvGDSXHCNSjYp98yteex/acPN2A3CC/FxL4AAAAASUVORK5CYII=');
  background-repeat: no-repeat;
}

/* First block */
.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.greeting {
  width: 100%;
  height: 42.1rem;
  background: url(../img/olga_v_zale.jpg) no-repeat rgba(55, 14, 14, 0.67);
  background-size: 100% 100%;
  position: relative;
}

.greeting:before {
  display: block;
  content: '';
  background: rgba(55, 14, 14, 0.67);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.greeting img {
  position: absolute;
  height: 3.6rem;
  left: 21rem;
  top: 1rem;
}

.greeting nav {
  position: absolute;
  top: 2rem;
  right: 21rem;
  width: 25.9rem;
}

.greeting nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.greeting nav li {
  display: inline-block;
}

.greeting nav li a {
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 2.2rem;
  font-size: .9rem;
  display: inline-block;
  transition: all 0.3s ease
}

.greeting nav li a:hover {
  animation: swing 0.6s ease;
  animation-iteration-count: 1;
}

.greeting p, h1 {
  width: 100%;
  text-align: center;
  position: absolute;
  font-weight: bold;
  font-size: 3.5rem;
  color: #ffffff;
  top: 18.7rem;
}

.greeting h1 {
  font-size: 1.9rem;
  top: 8.4em;
}

.greeting a.btn {
  position: absolute;
  top: 27rem;
  left: 41.7rem;
}

/* Second block */
.second {
  display: flex;
  height: 21rem;
  width: 100%;
}

.second div {
  flex-grow: 1;
  background-size: cover;
  position: relative;
}

.second > div:before {
  display: block;
  content: '';
  background: rgba(41, 41, 41, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.second-left {
  background: url(../img/left.jpg) no-repeat;
}

.second-right {
  background: url(../img/right.jpg) no-repeat;
}

.second div div {
  width: 20rem;
  position: absolute;
  top: 3rem;
}

.second-left div {
  right: 8.3rem;
}

.second-right div {
  left: 8.3rem;
}

.second div div  p {
  text-align: center;
  padding: 0 0 2.5rem;
}

.second div div p:nth-child(1) {
  font-size: 1.2rem;
}

.second div div p:nth-child(2) {
  font-size: 1.4rem;
}

.second div div p:last-child {
  padding: 1rem 0 0;
}

.smaller {
  font-size: .9rem;
}

/* Third, fifth and seventh block */
.third, .fifth, .seventh {
  width: 100%;
  display: flex;
  align-items: center;
  height: 22rem;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.third:before, .fifth:before, .seventh:before {
  display: block;
  content: '';
  background: rgba(37, 37, 37, 0.57);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.third:before {
  background: rgba(255, 255, 255, 0.57);
}

.third {
  background-image: url(../img/6I0A7991.jpg);
}

.fifth {
  background-image: url(../img/6I0A7981.jpg);
}

.seventh {
  background-image: url(../img/6I0A7957.jpg);
}

.third p, .fifth p, .seventh p {
  flex-grow: 1;
  text-align: center;
  font-size: 1.5rem;
  z-index: 2;
}

/* Fourth block */
.fourth {
  height: 28rem;
  position: relative;
}

.info-container {
  width: 60rem;
  height: 100%;
  margin-top: 4rem;
}

.fourth > .info-container > p {
  padding: 0 19rem 0 2.3rem;
}

.fourth > .info-container > img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 23.9rem;
}

/* Sixth block */
.sixth {
  height: 36rem;
  position: relative;
}

.testimonials-item {
  padding:1.5rem;
}

.testimonials-content {
  position: relative;
  padding-left: 17rem;
}

.testimonials-content img {
  position: absolute;
  top: 0;
  left: 0;
  height: 15rem;
}

.testimonials-content h3 {
  color: #333333;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.testimonials-content p.text {
  margin-top: .4rem;
}

/* Eighth block */
.eighth {
  height: 36rem;
  position: relative;
}

.videos-item {
  position: relative;
  height: 20.85rem;
  width: 55.65rem;
}

.videos-item:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background: url(../img/video.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .3rem;
}

.videos-item:hover::after {
  display: none;
}

.videos-item:hover iframe {
  display: block;
}

.videos-item iframe {
  display: none;
  height: 20.8rem;
  width: 55.6rem;
}

/* Ninth block */
.ninth {
  width: 100%;
  height: 32rem;
  background: url(../img/zad.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contact-form {
  position: absolute;
  top: 3rem;
  right: 20.5rem;
  width: 28rem;
}

.contact-form p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.contact-form .form-label {
  width: 12.7rem;
  margin: 1rem 0
}

.form-control {
  width: 100%;
  border: .1rem solid #eeeeee;
  padding: .3rem .7rem;
  border-radius: .3rem;
  font-size: 1rem;
}

.form-sumbit {
  margin-top: 2rem;
}

/* Slider */
.slider-content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 21rem;
}

.slider-content > div {
  flex-grow: 1;
  width: 100%;
}

.slider-content .to-left, .slider-content .to-right{
  width: 2.3rem;
}

.slider-content .to-right {
  text-align: right;
}

.slider-content .to-left a, .slider-content .to-right a {
  font-size: 0;
  position: relative;
}

.slider-content .to-left a:after, .slider-content .to-right a:after {
  display: block;
  position: absolute;
  content: '';
  top: 0;
  width: 1rem;
  height: .5rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-content .to-left a:after {
  left: 0rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAKCAYAAAC0VX7mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABsSURBVHgB1ZJBEYAwDASPGmBwQyujVEgdUBTghEEGboKChkl/hV8KD1bATu5ywA2yIZLzM5SYSuZCQscrMtoRGbmJadRf94msk85KTOAEeEcj5o26HkjUElme8g+p9RFKqh0Ox7YgcwKjh5ILLKQ1QOVAb/0AAAAASUVORK5CYII=');
}

.slider-content .to-right a:after {
  right: 0rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAKCAYAAAC0VX7mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABuSURBVHgBvZJBDYAwDEV/CQLADZkKMhACCsACCnCAD9QMA6yUcCFkpzbsJe2hh5f8toCS4Pr5ru+8gJLIOACeUlI1ofEi7PhXKQXnV5ihVloF5lG9wySRGFaea0tkiQ4rWWQl1MgnnjTU+7a8pxc9AjcI3FK2yQAAAABJRU5ErkJggg==');
}

.slider-container {
  border:.05rem solid #eeeeee;
  border-radius: .3rem;
  box-sizing: border-box;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.05);
  background: #ffffff;
  height: 100%;
}

.slider-bullets {
  padding: 1rem;
  text-align: center;
}

.slider-bullets a {
  display: inline-block;
  width:.25rem;
  height: .25rem;
  border: .1rem solid #EF3851;
  border-radius: .25rem;
  margin: 0 .3rem;
}

.slider-bullet-fill {
  background: #EF3851;
}

@media only screen and (max-width:768px) {
  .btn {
    border-width: .2rem;
    border-radius: 6rem;
    padding: 1.2rem 2.4rem;
    font-size: 1.72rem;
  }

  h2 {
    font-size: 4.2rem;
  }

  h2:after {
    width: 12.4rem;
    border: .2rem solid #EF3A53;
  }

  .text {
    font-size: 1.9rem;
    line-height: 2.4rem;
  }

  .more {
    width: 12.5rem;
  }

  .more:after {
    top: 1.1rem;
  }

  .greeting img {
    height: 6.6rem;
    left: 6rem;
  }

  .greeting p, h1 {
    font-size: 5.9rem;
    top: 22rem;
  }

  .greeting h1 {
    font-size: 3.5rem;
    top: 5.0em;
  }

  .greeting a.btn {
    position: absolute;
    top: 32rem;
    left: 32.7rem;
  }

  .bullet {
    padding-right: 5.5rem;
  }

  .bullet:after {
    position: absolute;
    top: -1.4rem;
    right: 2.6rem;
    display: block;
    content: '‣';
    font-size: 5.5rem;
  }

  .second {
    display: flex;
    flex-direction: column;
    height: 65rem;
    width: 100%;
  }

  .second div div {
    border:1px solid #C7C7C7;
    position: absolute;
    width: 65rem;
    margin: 1rem auto 0;
    padding: 1.5rem 0 3.5rem 0;
    top:.6rem;
    left: 0;
    right: 0;
  }

  .second div div p:nth-child(1) {
    font-size: 3.0rem;
    line-height: 3.5rem;
  }

  .second div div p:nth-child(2) {
    font-size: 3.4rem;
  }

  .smaller {
    font-size: 2.1rem;
  }

  .third, .fifth, .seventh {
    height: 32rem;
  }

  .third p, .fifth p, .seventh p {
    font-size: 3.5rem;
  }

  .fourth {
    height: 68rem;
  }

  .info-container {
    width: 90rem;
  }

  .fourth > .info-container > p {
    padding: 0 41rem 0 0rem;
  }

  .fourth > .info-container > img {
    height: 58.9rem;
  }

  .sixth {
    height: 70rem;
  }

  .slider-content {
    height: 53rem;
  }

  .testimonials-content {
    padding-left: 35rem;
  }

  .testimonials-content h3 {
    font-size: 2.8rem;
  }

  .testimonials-content img {
    height: 32rem;
  }

  .testimonials-content p {
    font-size: 1.9rem;
    line-height: 2.4rem;
  }

  .greeting nav {
    width: 10rem;
    right: 10rem;
  }

  .greeting nav li {
    display: block;
    margin: 0 0 .8rem;
  }

  .greeting nav li a {
    font-size: 1.7rem;
  }

  .eighth {
    height: 53rem;
  }

  .slider-content .to-left a:after, .slider-content .to-right a:after {
    height: 1.5rem;
  }

  .slider-content .to-left a:after {
    left: 0rem;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAMAAAAbzM5ZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMZQTFRF////UVFRUlJS/Pz8/v7+sbGxjIyMaWlplJSU+/v7srKyn5+fkpKSpKSkr6+vjo6OnZ2di4uLhYWFlZWVYmJi+fn52traqKio+vr6qqqqs7Ozubm5kZGRiYmJk5OTtLS0bW1tm5ubampqa2trrq6u9vb2pqamfn5+ZGRkj4+Pu7u7urq6mpqa9/f3vLy8tbW1p6en3t7esLCwh4eHqamp7OzsiIiI7e3tlpaWZmZmoaGhU1NTYWFhnJyct7e3hoaGhISExMTEYkOHcAAAALdJREFUeNps0lUSwkAQBNDdKJAAgeDu7u5y/0sRZHo3JP35qmaqRhiTU28PrCjzx+JeHn51+CfOUrKr8sVMXNiE/2J2YAeFUN+SRWALIs0m4nlYBbaBDVFbhKVgCTK1itoYbB00doKVxCAm2UiauEX4lLBJqMwEZtPQcZjystDCHXoTqu6gc0kNqC5pMji+p2IpK6GaQXrW94LRoSH1ZXbIiXE8N+d7Efet/e7fM/WOl9qUsZcAAwBZQApWNaFoqwAAAABJRU5ErkJggg==');
  }

  .slider-content .to-right a:after {
    right: 0rem;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAMAAAAbzM5ZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMZQTFRF////UVFRUlJS/Pz8/v7+sbGxjIyMaWlplJSU+/v7srKyn5+fkpKSpKSkr6+vjo6OnZ2di4uLhYWFlZWVYmJi+fn52traqKio+vr6qqqqs7Ozubm5kZGRiYmJk5OTtLS0bW1tm5ubampqa2trrq6u9vb2pqamfn5+ZGRkj4+Pu7u7urq6mpqa9/f3vLy8tbW1p6en3t7esLCwh4eHqamp7OzsiIiI7e3tlpaWZmZmoaGhU1NTYWFhnJyct7e3hoaGhISExMTEYkOHcAAAALhJREFUeNps0ucWgjAMBeAWRERQUdx77733eP+XcuYShPvzO21OmlQIYZj9Vk14Y9zlK6bHFrb8xOYYS39RuTBs6/KXsYsbjVDZs7NzaIRpjlRaIVfX0DLTAioMmMahSaZRVKioQbpiWoQeWWdDQp3hg7Dp2lQhbMBGsFSGrCT9doXd8mQz2BZNYqQyrPofnoAt3WGQ7bQTWRgD0uq4G7Bii7046/iXJkSn9zbn7zNNqudD1yNPAQYAfakKVuwPg64AAAAASUVORK5CYII=');
  }

  #videos-slider > .slider-content {
    height: 34rem;
  }

  .videos-item {
    height: 33.85rem;
    width: 85.2rem;
  }

  .videos-item:after {
    display: none;
  }

  .videos-item iframe {
    display: block;
    height: 33.85rem;
    width: 85.2rem;
  }

  .contact-form {
    right: 15.5rem;
    width: 35rem;
  }

  .contact-form p {
    font-size: 2.6rem;
  }

  .contact-form .form-label {
    width: 20.7rem;
  }

  .form-control {
    font-size: 2rem;
  }
}

/* Animations */
@keyframes swing {
  15% {
    transform: translateX(9px);
  }
  30% {
    transform: translateX(-9px);
  }
  40% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-6px);
  }
  65% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}