@import "normalize";
@import "variables";
@import "mixins";
@import "placeholders";
@import "typography";
@import "components";
@import "animations";
@import "slider";

.module1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;

  .greeting {
    width: 100%;
    height: 42.1rem;
    background: url($path-to-img + 'olga_v_zale.jpg') no-repeat;
    background-size: 100% 100%;
    position: relative;

    &:before {
      display: block;
      content: '';
      background: rgba(55, 14, 14, 0.67);
      width: 100%;
      height: 100%;
    }

    h1 {
      @include position-absolute(8.4em);
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: 1.9rem;
      color: $main-color2;

      @media screen and (max-width:$tablet-width) {
        font-size: 3.5rem;
        top: 5.0em;
      }
    }

    p {
      @extend h1;
      font-size: 3.5rem;
      top: 18.7rem;

      @media screen and (max-width:$tablet-width) {
        font-size: 5.9rem;
        top: 22rem;
      }
    }

    img {
      @include position-absolute(1rem, 21rem);
      height: 3.6rem;

      @media screen and (max-width:$tablet-width) {
        height: 6.6rem;
        left: 6rem;
      }
    }

    a.btn {
      @include position-absolute(27rem, 41.7rem);
      background: #292929;
      border-color: #292929;
      @include transition((background, border-color), 0.5s, linear);
      padding-right: 2.8rem;

      &:hover {
        background: $main-color;
        border-color: $main-color;
      }

      &:after {
        @include position-absolute(0.04rem, null, 1.6rem);
        display: block;
        content: '‣';
        font-size: 2.1rem;

        @media screen and (max-width:$tablet-width) {
          top: -1.2rem;
          right: 2.6rem;
          font-size: 5.5rem;
        }
      }

      @media screen and (max-width:$tablet-width) {
        padding-right: 5.5rem;
        top: 32rem;
        left: 32.7rem;
      }
    }

    nav {
      @include position-absolute(2rem, null, 21rem);
      width: 25.9rem;

      @media screen and (max-width:$tablet-width) {
        width: 10rem;
        right: 10rem;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;

          @media screen and (max-width:$tablet-width) {
            display: block;
            margin: 0 0 0.8rem;
          }

          a {
            color: $main-color2;
            text-transform: uppercase;
            margin-left: 2.2rem;
            font-size: 0.9rem;
            display: inline-block;

            &:hover {
              animation: swing 0.6s ease;
              animation-iteration-count: 1;
            }

            @media screen and (max-width:$tablet-width) {
              font-size: 1.7rem;
            }
          }
        }
      }
    }
  }
}

.module2 {
  display: flex;
  height: 21rem;
  width: 100%;

  @media screen and (max-width:$tablet-width) {
    flex-direction: column;
    height: 65rem;
  }

  > div:before {
    @include position-absolute(0, 0);
    display: block;
    content: '';
    background: rgba(41, 41, 41, 0.8);
    width: 100%;
    height: 100%;
  }

  div {
    flex-grow: 1;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    div {
      @include position-absolute(3rem);
      width: 20rem;

      @media screen and (max-width:$tablet-width) {
        @include position-absolute(0.6rem, 0, 0);
        border: 1px solid #c7c7c7;
        width: 65rem;
        margin: 1rem auto 0;
        padding: 1.5rem 0 3.5rem 0;
      }

      p {
        text-align: center;
        padding: 0 0 2.5rem;

        &:nth-child(1) {
          font-size: 1.2rem;

          @media screen and (max-width:$tablet-width) {
            font-size: 3.0rem;
            line-height: 3.5rem;
          }
        }

        &:nth-child(2) {
          font-size: 1.4rem;
          color: $main-color;

          @media screen and (max-width:$tablet-width) {
            font-size: 3.4rem;
          }
        }

        &:last-child {
          padding: 1rem 0 0;
        }

        .smaller {
          font-size: .9rem;

          @media screen and (max-width:$tablet-width) {
            font-size: 2.1rem;
          }
        }

        a {
          border-color: $main-color2;
          @include transition((background, color), 0.5s, linear);

          &:hover {
            background: $main-color2;
            color:#333333;
          }
        }
      }
    }
  }

  .left {
    background-image: url($path-to-img + 'left.jpg');

    div {
      right: 8.3rem;

      @media screen and (max-width:$tablet-width) {
        right: 0;
      }
    }
  }

  .right {
    background-image: url($path-to-img + 'right.jpg');

    div {
      left: 8.3rem;

      @media screen and (max-width:$tablet-width) {
        left: 0;
      }
    }
  }
}

.module3 {
  width: 100%;
  display: flex;
  align-items: center;
  height: 22rem;
  position: relative;
  background: url($path-to-img + '6I0A7991.jpg') no-repeat;
  background-size: cover;

  @media screen and (max-width:$tablet-width) {
    height: 32rem;
  }

  &:before {
    @include position-absolute(0, 0);
    display: block;
    content: '';
    background: rgba(255, 255, 255, 0.57);
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  p {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5rem;
    z-index: 2;
    text-transform: uppercase;
    font-weight: bold;

    @media screen and (max-width:$tablet-width) {
      font-size: 3.5rem;
    }
  }
}

.module4 {
  height: 28rem;
  position: relative;

  @media screen and (max-width:$tablet-width) {
    height: 68rem;
  }

  > .info-container > p {
    padding: 0 19rem 0 2.3rem;

    @media screen and (max-width:$tablet-width) {
      padding: 0 41rem 0 0rem;
    }

    a {
      display: block;
      color: #333333;
      width: 6.5rem;
      position: relative;
      margin-top: 0.6rem;

      @media screen and (max-width:$tablet-width) {
        width: 12.5rem;
      }

      &:after {
        @include position-absolute(0.4rem, null, 0);
        display: block;
        content: '';
        width: 1.6rem;
        height: 0.5rem;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAKCAYAAABMtYURAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABvSURBVHgBzZNRDYAwDESvBAHghkwFGQgBBWABBTjAB2qGAVZK+CHLvi97SfvRn7tcW4BAcOP6VjqvQCAqLkCXnAEKofMmPmgxBiQ4v4OK9NYaqM6UnWeJomDyXb3FbvGDSXHCNSjYp98yteex/acPN2A3CC/FxL4AAAAASUVORK5CYII=') no-repeat;
        background-size: cover;

        @media screen and (max-width:$tablet-width) {
          top: 1.1rem;
        }
      }
    }
  }

  > .info-container > img {
    @include position-absolute(null, null, 0, 0);
    height: 23.9rem;

    @media screen and (max-width:$tablet-width) {
      height: 58.9rem;
    }
  }
}

.module5 {
  @extend .module3;
  background-image: url($path-to-img + '6I0A7981.jpg');

  &:before {
    background-color: $module-5-and-7-background;
  }
}

.module6 {
  height: 36rem;
  position: relative;

  @media screen and (max-width:$tablet-width) {
    height: 70rem;
  }

  .testimonials-item {
    padding:1.5rem;
  }

  .testimonials-content {
    position: relative;
    padding-left: 17rem;

    @media screen and (max-width:$tablet-width) {
      padding-left: 35rem;
    }

    img {
      @include position-absolute(0, 0);
      height: 15rem;

      @media screen and (max-width:$tablet-width) {
        height: 32rem;
      }
    }

    h3 {
      color: #333333;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: bold;

      @media screen and (max-width:$tablet-width) {
        font-size: 2.8rem;
      }
    }

    p {
      @media screen and (max-width:$tablet-width) {
        font-size: 1.9rem;
        line-height: 2.4rem;
      }
    }

    p.text {
      margin-top: 0.4rem;
    }
  }
}

.module7 {
  @extend .module3;
  background-image: url($path-to-img + '6I0A7957.jpg');

  &:before {
    background-color: $module-5-and-7-background;
  }
}

.module9 {
  width: 100%;
  height: 32rem;
  background: url($path-to-img + 'zad.jpg') no-repeat;
  background-size: cover;
  position: relative;

  .contact-form {
    @include position-absolute(3rem, null, 20.5rem);
    width: 28rem;

    @media screen and (max-width:$tablet-width) {
      right: 15.5rem;
      width: 35rem;
    }

    p {
      font-size: 1.8rem;
      margin-bottom: 2rem;
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;

      @media screen and (max-width:$tablet-width) {
        font-size: 2.6rem;
      }
    }

    .form-label {
      width: 14.7rem;
      margin: 1rem 0;

      @media screen and (max-width:$tablet-width) {
        width: 20.7rem;
      }
    }
  }

  .form-control {
    width: 100%;
    border: .1rem solid #eeeeee;
    padding: .3rem .7rem;
    border-radius: .3rem;
    font-size: 1rem;
    outline: none;
    box-sizing: border-box;

    @media screen and (max-width:$tablet-width) {
      font-size: 2rem;
    }
  }

  .form-sumbit {
    margin-top: 2rem;

    button {
      background: $main-color;
      border-color: $main-color;
    }
  }
}



/* Eighth block */
.eighth {
  height: 36rem;
  position: relative;
}

.videos-item {
  position: relative;
  height: 20.85rem;
  width: 55.65rem;
}

.videos-item:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background: url(../img/video.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .3rem;
}

.videos-item:hover::after {
  display: none;
}

.videos-item:hover iframe {
  display: block;
}

.videos-item iframe {
  display: none;
  height: 20.8rem;
  width: 55.6rem;
}



@media only screen and (max-width:768px) {
  .eighth {
    height: 53rem;
  }

  #videos-slider > .slider-content {
    height: 34rem;
  }

  .videos-item {
    height: 33.85rem;
    width: 85.2rem;
  }

  .videos-item:after {
    display: none;
  }

  .videos-item iframe {
    display: block;
    height: 33.85rem;
    width: 85.2rem;
  }
}